*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: sans-serif;
}
.main{
	width: 100%;
	height: 100vh;
	background: #03031b;
	background-size: cover;
	position: absolute;
	overflow: hidden;

}

.main .circle{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: relative;
	float: right;
	margin-right: 80px;
	background: #FF0033;


}


.main .circle-1{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	background: #FF0033;
	bottom: 0;
	margin-left: 60px;
	margin-bottom: -30px;
	
	

}

.main .section{
	width: 80%;
	height: 80%;
	margin-left: 130px;
	margin-top: 60px;
	position: absolute;
	overflow: hidden;
	background: #03031b;
	box-shadow: 8px 8px 15px 0 rgba(0,0,0,0.7),-8px -8px 15px 0 rgba(0,0,0,0.6); 
	border:none;
	border-radius: 30px;
}
.main .section nav{
	width: 100%;
	height: 60px;
}
.main .section nav .logo{
	font-size: 40px;
	line-height: 60px;
	padding-left: 40px;
	color: #FF0033;
	position: absolute;
}
.main .section nav .logo h2{
	margin-top: 20px;

}
.main .section nav ul{
	float: right;
	margin-right: 70px;

}

.main .section nav ul li{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-right: 15px;
	position: relative;
	line-height: 60px;

}
.main .section nav ul li a{
	color: white;

}
.main .section nav ul .btn{
	width: 130px;
	height: 45px;
	background: none;
	color: white;
	border:2px solid white;
	border-radius: 30px;
}
.main .section nav ul .btn:hover{
background: #ff0033;
}
.main .section .intro{
	padding-left: 40px;
	padding-top: 40px;
	color:white;
}
.main .section .intro img{
	width: 550px;
	height: 65vh;
	float:right;
	margin-top: 65px;
	margin-right: 15px;
	position: relative;
}
.main .section .intro .heading{
	padding-top: 60px;
	letter-spacing: 2px;
	padding-bottom: 20px;
}
.main .section .intro h1{
	font-weight: bold;
	font-size: 60px;
	padding-bottom: 10px;
}
.main .section .intro p{
	font-size: 20px;
	padding-bottom: 10px;
}
.main .section .intro h3{
	padding-bottom: 10px;
}
.main .section .intro i{
	font-size: 30px;
	letter-spacing: 8px;
	margin-bottom: 20px;
}
.main .section .intro .in-btn{
	width: 150px;
	height: 50px;
	background: red;
	color: white;
	margin: 10px;
	font-size: 18px;
	border:none;
	border-radius: 30px;

}
.main .section .intro .btn-1{
	width: 150px;
	height: 50px;
	background: none;
	border:2px solid white;
	color: white;
	font-size: 18px;
	border-radius: 30px;
}
.main .section .intro .circle-2{
	width: 250px;
	height: 250px;
	position: absolute;
	top: -120px;
	left: 32%;
	background: #003366;
	opacity: 0.7;
	border-radius: 50%;
}
.main .section .intro .circle-3{
	width: 450px;
	height: 450px;
	position: absolute;
	background: #003366;
	right: 60px;
	border-radius: 50%;
}